* {
    font-size: 14px;
    border-radius: 5px;
}

window#waybar {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "JetBrainsMono Nerd Font", monospace;
    background-color: transparent;
    border-bottom: 5px;
    border-right: 5px;
    border-left: 5px;
    border-top: 5px;
    border-radius: 6px;
    color: #000000;
    transition-property: background-color;
    transition-duration: 0.5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty #window {
    background-color: transparent;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

tooltip {
    border: 2px solid #2a2e32;
    background-color: rgba (27,30,32,1); /* Tooltip background color */
    color: #ffffff; /* Text color */
    font-family: JetBrains, monospace;
    font-size: 12px; /* Text size */
    padding: 5px 10px; /* Spacing inside the tooltip */
    border-radius: 6px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(27, 30, 32, 0.9); /* Subtle shadow for depth */
    transition: all 0.3s ease-in-out; /* Smooth transition effect */
}

.modules-right {
    margin: 5px 5px 0 0;
}
.modules-center {
    margin: 5px 0 0 0;
}
.modules-left {
    margin: 5px 0 0 5px;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    /* box-shadow: inset 0 -3px transparent; */
    border: none;
}

/* https://github.com/Alexay/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
/*
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #eceff4;
} */

#workspaces {
    background-color: transparent;
}

#workspaces button {
    border: 2px solid #2a2e32;
    background-color: rgba (27,30,32,0.9);
    margin: 0 2px;
    padding: 0 5px;
    border-radius: 15%;
    color: #ffffff;
}

/*#workspaces button:first-child {
    border-radius: 20%;
}

#workspaces button:last-child {
    border-radius: 20%;
}*/

#workspaces button:hover {
    color: #FFFFFF;
    background-color: #3DAEE9;
    border-radius: 15%;
}

#workspaces button.focused {
    background-color: #3DAEE9;
    color: #ffffff;
    /* box-shadow: inset 0 -3px #ffffff; */
}

#clock {
    border: 2px solid #2a2e32;
    background-color: rgba (27,30,32,0.9);
    color: #ffffff;
    margin: 0 2px;
    padding-right: 5px;
    padding-left: 5px;
}
#tray {
    border: 2px solid #2a2e32;
    padding: 0 10px;
    margin: 0 2px;
    background-color: #3DAEE9;
    color: #FFFFFF;
}
#pulseaudio,
#wireplumber,
#network {
    border: 2px solid #2a2e32;
    padding: 0 10px;
    margin: 0 2px;
    background-color: #3DAEE9;
    color: #FFFFFF;
}


#idle_inhibitor,
#cava,
#scratchpad,
#mode,
#window,
#battery,
#backlight,
#bluetooth,
#mpris,
#load {
    border: 2px solid #2a2e32;
    padding: 0 10px;
    margin: 0 2px;
    background-color: rgba(27, 30, 32, 0.9);
    color: #ffffff;
}

#mode {
    background-color: #689d6a;
    color: #2e3440;
    /* box-shadow: inset 0 -3px #ffffff; */
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#cava {
    padding: 0 5px;
}

#battery.charging,
#battery.plugged {
    background-color: #e1e1e1;
    color: #000000;
}

@keyframes blink {
    to {
        background-color: #2e3440;
        color: #ffffff;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #bf616a;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #2e3440;
}

#wireplumber.muted {
    background-color: rgba(27,30,32,0.9);
    color: #ffffff;
}
#pulseaudio.source-muted {
    background-color: rgba(27,30,32,0.9);
    color: #ffffff;
}
#bluetooth.connected {
    background-color: #3DAEE9;
    color: #ffffff;
}

#network.disconnected {
    background-color: rgba(27,30,32,0.9);
    color: #ffffff;
}
#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#mpris.playing {
    background-color: #81a1c1;
    color: #2e3440;
}

#tray menu {
    font-family: "JetBrainsMono Nerd Font", monospace;
}

#scratchpad.empty {
    background: transparent;
}
#custom-wlogout {
    border: 2px solid #2a2e32;
    padding: 0 5px;
    margin: 0 2px;
    background-color: rgba(27, 30, 32, 0.9); /* Background color */
    color: #ffffff; /* Text color */
    font-weight: bold;
}
